/* reset css */
@import url('https://fonts.googleapis.com/css2?family=Mohave:wght@300;400&family=Roboto:wght@100;300;400&display=swap');

html{
    font-size: 62.5%;
}
body{
    font: 1.6rem 'Mohave',sans-serif;
    margin: 0;
}
h1,h2{
    margin: 0;
    padding: 0;
    list-style-type: none ;
}
*{
    box-sizing: border-box;
}
:root{

    --color-theme-1 : rgb(241, 255, 164) ;
    --color-theme-2:  rgb(73, 73, 73);
    --color-theme-3: rgb(41, 41, 41);
    --color-theme-4: rgb(245, 84, 84);
    --color-theme-5: rgb(0, 0, 0);
    --color-theme-6 : rgb(136, 136, 136);

}


body{
    background-color: var(--color-theme-2);
}
h1,h2,h3,h4,p,ol,figure,dl{
    margin: 0;
    padding: 0;
    list-style-type: none;
}
h1,h2{
    font-weight: normal;
}
header h1{
    background-color :var(--color-theme-3) ;
    line-height: 2.0rem;
    padding-left: 0.5rem;
    color: var(--color-theme-1);
    text-align: center;


}
header h2{
    background-color:var(--color-theme-2) ;
    line-height: 8.0rem;
    text-align: center;
}

header ol{
    background-color:var(--color-theme-3) ;

    
    max-width: max-content;
    display: inline-block;
    
    
    

}
header ol li a{

    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 5rem;
    width: 20rem;
    border-top: .1rem solid var(--color-theme-2) ;
    border-bottom: .1rem solid var(--color-theme-2) ;

    


    

}
header ol li:focus,
header ol li:hover{
    text-decoration: none;
    background-color: var(--color-theme-6);
    color: #FFF;
}
a{
    text-decoration: none;
    color: rgb(255, 255, 255);

}
h2 img{
    vertical-align: middle;


}

section p, ul{
    max-width: 100.0rem;
    border: solid .2rem var(--color-theme-5);
    background-color: var(--color-theme-3);
    padding: 4.0rem;
    margin: 5.0rem auto 1.0rem;
}

section h2{
    background-color: var(--color-theme-5);
    color: var(--color-theme-1);
    line-height: 3rem;
    padding-left: 2rem;

}

main{
    max-width: 100.0rem;
    border: solid .2rem var(--color-theme-5);
    padding: 4.0rem;
    margin: 5.0rem auto 1.0rem;
}


footer{
    text-align: center;
}

@media screen and (max-width: 60rem){
    body{
        margin: 1 1%;
    }
    header h1{
        font-size: 2.5rem;
    }
    header{
        text-align: center;
    }
    section img{
        width: 75px;
        height: 75px;
        

    }


}

